@font-face {
    font-family: Montserrat;
    src: local("Montserrat-Regular");
    font-weight: normal;
}

html {
    height: 100%;
}
body {
    height: 98%;
    width: 98%;
    font-size: 13px;
    word-break: break-word;
    margin: 1%;
    font-family: "Montserrat";
}
main {
    height: 100%;
}
h1 {
    font-size: 14px;
}
button {
    margin: 5px;
    border: 0;
    padding: 2%;
    min-width: 100px;
    color: white;
}
button:disabled {
    background-color: #CDCDCD !important;
}
iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
  
#bar {
    padding: 1%;
    height: 15px;
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
    display: inline-flex;
}

#content {
    height: 97%;
}
#iframe-container {
    overflow: hidden;
    height: 90%;
    position: relative;
}

#previous {
    background-color: #9135e0;
}
#next {
    background-color: #5e2495;
}

.p-dot {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50px;
  
    background-color: rgb(228, 228, 228);
    
    margin: 0 auto;
}
.p-dot:not(.progress) {
    margin-top: 2.5px !important;
}
.p-dot.progress {    
    background-color: #961f8c !important;
    width: 15px;
    height: 15px;
}
.p-dot.visited {
    background-color: #d73cea;
}